lobster_uganda = [2, 3, 3]
brazil_cerrado = [2, 3, 4]
brazil_kenya = [2, 3, 4]
ethiopia_sidamo = [5, 2, 4]
colombia_supremo = [2, 3, 4]
guatemala = [3, 5, 4]
ethiopia_yirgacheffe = [5, 3, 4]
kenya_AA = [5, 3, 4]
indonesia_java =[2, 3, 4]
indonesia_mandeling =[2, 3, 4]
indonesia_bali_kantamani =[2, 3, 4]
indonesia_go_mountain =[4, 3, 4]
indonesia__toraja =[5, 3, 4]
india_monsund_maliva =[4, 4, 5]
colombia_excelso =[5, 3, 5]
guatemala_SHB =[4, 3, 5]
nicaragua_SHB =[4, 3, 3]
mexico_altura_SHB =[3, 3, 4]
elsalvador_pensi_SHB =[3, 3, 4]
costa_rica_SHB =[3, 4, 3]
panama_SHB =[4, 3, 5]
Dominica_AA =[4, 3, 2]
brazil_santos =[3, 3, 4]
brazil_santos_decaffeinated =[3, 3, 4]
honduras_SHG =[4, 2, 3]
peru_HB_GRADE1 =[4, 4, 5]
ethiopia_yirgachev =[5, 3, 4]
mocha_sidamo =[5, 3, 4]
rwanda_AB+ =[3, 3, 2]
malawi_AAA+ =[3, 3, 5]
zimbabwe_AA+ =[5, 3, 4]
tanzania_AA =[5, 3, 4]



lobster_uganda = [l, m, m]
brazil_cerrado = [l, m, h]
brazil_kenya = [l, m, h]
ethiopia_sidamo = [h, l, h]
colombia_supremo = [l, m, h]
guatemala = [l, h, h]
ethiopia_yirgacheffe = [h, m, h]
kenya_AA = [h, m, h]
indonesia_java =[l, m, h]
indonesia_mandeling =[l, m, h]
indonesia_bali_kantamani =[l, m, h]
indonesia_go_mountain =[h, m, h]
indonesia__toraja =[h, m, h]
india_monsund_maliva =[h, h, h]
colombia_excelso =[h, m, h]
guatemala_SHB =[h, m, h]
nicaragua_SHB =[h, m, m]
mexico_altura_SHB =[m, m, h]
elsalvador_pensi_SHB =[m, m, h]
costa_rica_SHB =[m, h, m]
panama_SHB =[h, m, h]
Dominica_AA =[h, m, l]
brazil_santos =[m, m, h]
brazil_santos_decaffeinated =[m, m, h]
honduras_SHG =[h, l, m]
peru_HB_GRADE1 =[h, h, h]
ethiopia_yirgachev =[h, m, h]
mocha_sidamo =[h, m, h]
rwanda_AB+ =[m, m, l]
malawi_AAA+ =[m, m, h]
zimbabwe_AA+ =[h, m, h]
tanzania_AA =[h, m, h]