<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자페이지</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--    구글폰트추가-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>오늘의 커피</title>

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/coffee.css">
    <link rel="stylesheet" href="../static/css/tabmenu.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/login.js" charset="ut-8"></script>
    <script src="../../coffee_recommend_site_02,02월22일/static/js/start.js"></script>
</head>

<body>
<!--    로그인-->
    {% if login == True %}
    <div class = "login">
    로그인에 성공했습니다. {{username}}님 어서오세요!
    <a href={{url_for("logout")}}>로그아웃</a>
    </div>

    <div id="tabBox">
        <div class="tabWrap">
            <input id="tab-01" name="tab" type="radio" checked/>
            <label class="tab label-01" for="tab-01"><span>1</span></label>
            <!-- tabContent 01 -->
            <article class="tabContent">
                <div class="wrap">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
                    </div>
                    <div class="item-desc">
                        <p>Coffee 등록페이지입니다.</p>
                    </div>
                    <div class="item-order">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Coffee name</span>
                            </div>
                            <input id="order-name" type="text" class="form-control" aria-label="Default"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">body</label>
                            </div>
                            <select id="order-body" class="custom-select">
                                <option selected>-- 단계 선택 --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">acidity</label>
                            </div>
                            <select id="order-acidity" class="custom-select">
                                <option selected>-- 단계 선택 --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">sweet</label>
                            </div>
                            <select id="order-sweet" class="custom-select">
                                <option selected>-- 단계 선택 --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">flavor</label>
                            </div>
                            <select id="order-flavor" class="custom-select">
                                <option selected>-- 단계 선택 --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">bitter</label>
                            </div>
                            <select id="order-bitter" class="custom-select">
                                <option selected>-- 단계 선택 --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="form-floating" >
                            <textarea class="form-control" placeholder="Comment" id="order-comment"
                                      style="height: 100px"></textarea>
                            <label for="order-comment"></label>
                        </div>



                        <button type="button" onclick="order()" class="btn btn-primary btn-order">저장하기</button>
                    </div>
                </div>
            </article>
        </div>
        <div class="tabWrap">
            <input id="tab-02" name="tab" type="radio"/>
            <label class="tab label-02" for="tab-02"><span>2</span></label>
            <!-- tabContent 02 -->
            <article class="tabContent">
                <table class="orders_table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">body</th>
                        <th scope="col">acidity</th>
                        <th scope="col">sweet</th>
                        <th scope="col">flavor</th>
                        <th scope="col">bitter</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody class="orders_list" id="orders-box">

                    </tbody>
                </table>
            </article>
        </div>
        <div class="tabWrap">
            <input id="tab-03" name="tab" type="radio"/>
            <label class="tab label-03" for="tab-03"><span>3</span></label>
            <!-- tabContent 02 -->
            <article class="tabContent">
                <h1>Header (Tertiary)</h1>
                <p>Content Placement</p>
            </article>
        </div>
    </div>

    <!--    로그인관련-->

    <div >
        {%else %}
<!--        <div class="login_img">-->
<!--            <img src="https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29mZmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">-->
<!--        </div>-->
        <div class="login_wrap">
            <div class="login_icon">
                <img class="icon"
                     src="https://cdn.icon-icons.com/icons2/1755/PNG/512/iconfinder-coffee04-3535188_113882.png">
                오늘의 커피
            </div>
            <div class="login_menu">

                <form methods="get" id="login" action={{url_for("login")}}>
                    Username
                    <br>
                    <input class="id_bar" type="id" id="loginId" name="loginId" placeholder="">
                    <br><br>

                    Password
                    <br>
                    <input class="pw_bar" type="password" id="loginPw" name="loginPw" placeholder="">

<!--                                <button type="submit" class="login login_bar">로그인</button>-->
                    <button type="button submit" class="btn btn-outline-success login login_btn">로그인</button>
                </form>
            </div>
        </div>
        {%endif%}
    </div>


</body>
</html>