<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자페이지</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>오늘의 커피</title>

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/coffee.css">
    <link rel="stylesheet" href="../static/css/tabmenu.css">
    <script src="../static/js/login.js" charset="ut-8"></script>
</head>

<body>
    {% if login == True %}
    <div class = "login">
    로그인에 성공했습니다. {{username}}님 어서오세요!
    <a href={{url_for("logout")}}>로그아웃</a>
    </div>

    <div id="tabBox">
        <div class="tabWrap">
            <input id="tab-01" name="tab" type="radio" checked/>
            <label class="tab label-01" for="tab-01"><span>1</span></label>
            <!-- tabContent 01 -->
            <article class="tabContent">
                <div class="wrap">
                    <div class="item-img"></div>
                    <div class="item-desc">
                        <p>Coffee 등록페이지입니다.</p>
                    </div>
                    <div class="item-order">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Coffee name</span>
                            </div>
                            <input id="order-name" type="text" class="form-control" aria-label="Default"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">body</label>
                            </div>
                            <select id="order-body" class="custom-select">
                                <option selected>-- 단계 선택 --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">acidity</label>
                            </div>
                            <select id="order-acidity" class="custom-select">
                                <option selected>-- 단계 선택 --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">sweet</label>
                            </div>
                            <select id="order-sweet" class="custom-select">
                                <option selected>-- 단계 선택 --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">flavor</label>
                            </div>
                            <select id="order-flavor" class="custom-select">
                                <option selected>-- 단계 선택 --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">bitter</label>
                            </div>
                            <select id="order-bitter" class="custom-select">
                                <option selected>-- 단계 선택 --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>


                        <button type="button" onclick="order()" class="btn btn-primary btn-order">저장하기</button>
                    </div>
                </div>
            </article>
        </div>
        <div class="tabWrap">
            <input id="tab-02" name="tab" type="radio"/>
            <label class="tab label-02" for="tab-02"><span>2</span></label>
            <!-- tabContent 02 -->
            <article class="tabContent">
                <table class="orders_table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">body</th>
                        <th scope="col">acidity</th>
                        <th scope="col">sweet</th>
                        <th scope="col">flavor</th>
                        <th scope="col">bitter</th>
                        <th scope="col">비고</th>
                    </tr>
                    </thead>
                    <tbody class="orders_list" id="orders-box">
                    </tbody>
                </table>
            </article>
        </div>
        <div class="tabWrap">
            <input id="tab-03" name="tab" type="radio"/>
            <label class="tab label-03" for="tab-03"><span>3</span></label>
            <!-- tabContent 02 -->
            <article class="tabContent">
                <h1>Header (Tertiary)</h1>
                <p>Content Placement</p>
            </article>
        </div>
    </div>



    <!--    로그인관련-->
    {%else %}
    <form methods = "get" id = "login" action = {{url_for("login")}}>
        <input type="id" id = "loginId" name="loginId" placeholder="id">
        <input type="password" id = "loginPw" name="loginPw" placeholder="Password">
        <button type="submit" class="login">로그인</button>
    </form>
    {%endif%}

</body>
</html>